<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="talks.mapper.Sent_talk">

    <insert id="addtalk">
        insert into s_t(t_id,t_uid,t_img,t_source,t_date,t_usc_count,t_like_count,t_status)
        values (#{t_id},#{t_uid},#{t_img},#{t_source},#{t_date},#{t_usc_count},#{t_like_count},#{t_status})
    </insert>

</mapper>